.box {
  border: 1px solid #000;
  border-radius: 16px;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
  background-color: var(--background-paper);
  height: 50px;
}

.left {
  display: flex;
  align-items: center;
  font-size: 18px; /* Increased font size */
}

.boldText {
  font-weight: bold;
  margin-right: 10px;
}

.icon {
  width: 12px;
  height: 12px;
  color: var(--primary);

  padding: 5px;
}

/* Removed empty .right ruleset */
