.container {
  border: 1px solid black;
  border-radius: 16px;
  background-color: var(--background-paper);
  padding: 16px;
  cursor: pointer;

  width: 500px;
  padding-left: 32px;
  height: auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  align-items: flex-start;
  gap: 0px !important;
}

.titleContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.title {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 0; /* Ensure no gap */
}

.subtitle {
  font-size: 14px;
  font-weight: 400;
  margin-top: -8px; /* Ensure no gap */
  margin-bottom: 18px; /* Ensure no gap */
}

.title2 {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 8px; /* Ensure no gap */
  margin-left: 8px;
  margin-top: -12px;
}

.title3 {
  font-size: 15px;
  font-weight: 650;
  margin-bottom: 0px; /* Ensure no gap */
  margin-left: 8px;
}

.seeAllText {
  color: black;
  cursor: pointer;
  font-weight: 500;
}

.content {
  margin-right: 16px;
}

.inputField {
  background: rgba(230, 228, 228, 0.884);
  margin-bottom: 12px;
  padding: 6px;
  border-radius: 8px !important;
  width: 100%;
  height: 28px;
  outline: none !important;
  box-shadow: none !important;
  border: none !important;
  -webkit-appearance: none; /* Remove default browser styles */
  -moz-appearance: none; /* For Firefox */
  appearance: none;
}

.inputField:focus {
  outline: none !important;
  box-shadow: none !important;
}

.content {
  display: flex;
  flex-direction: column;
  margin-top: 16px;
}

.stylesBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 8px;
}

.seeAllButton {
  background-color: transparent;
  border: none;
  color: blue;
  cursor: pointer;
}

.actionButton {
  background-color: blue;
  color: white;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 4px;
}

.buttonWrapper {
  margin-top: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.stylesBoxAll {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
}
