.contentContainer {
  display: flex;
  height: 280px;
  background: var(--primary-color);
  overflow: hidden;
  width: 380px;
  flex-direction: column;
  margin-top: 48px;
  margin-left: 48px;
  border-radius: 24px;
  border: 1px solid black;
  cursor: pointer;
  margin-bottom: 48px;
}

.contentParent {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: var(--background-paper);
  padding: 24px;
}

.titleText {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 8px;
  padding-right: 24px;
  padding-left: 12px;
  text-align: left;
}

.descriptionText {
  font-size: 18px;
  margin-bottom: 16px;
  padding-right: 6px;
  padding-left: 6px;
  line-height: 24px;
  text-align: left;
}

.imageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.leftAlign {
  justify-content: flex-start;
  padding-left: 12px;
}
