.dropdownContainer {
  width: 300px;
  margin-left: auto;
  padding: 20px;
  margin-top: 00px;
}

.pageTitleContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
