.container {
  background-color: var(--background-paper);
  border-radius: 8px;
  padding-left: 40px;
  padding-right: 30px;
  width: 600px;
  height: 280px;
  border: 1px solid black;
}

.title {
  font-weight: bold;
  font-size: 28px;
  margin-bottom: -12px;
}

.description {
  margin-bottom: 20px;
}

.inputGroup {
  margin-bottom: 20px;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.inputContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 20px;
}

.saveButton {
  font-size: 14px !important;
  font-weight: 600 !important;
  text-transform: none !important;
  border-radius: 8px !important;
  height: 50px !important;
  width: 150px !important;
}

.error {
  color: red;
  font-size: 14px;
  margin-top: 0px;
  text-align: center;
}
